body{
	background-color: darkgreen;
	text-align: center;
	color: whitesmoke;
	font-family: 'italic','Arial Sans Serif';
	font-weigth: bold;
}
h1{
	color: goldenrod;
}
#message-el{
	font-style: italic;
}
button{
	color: #016f32;
	width: 200px;
	height: 35px;
	background-color: goldenrod;
}